/S3-LAB/Android Lab/Experiment_1/*.iml
/S3-LAB/Android Lab/Experiment_1/.gradle
/S3-LAB/Android Lab/Experiment_1/local.properties
/S3-LAB/Android Lab/Experiment_1/.idea/caches
/S3-LAB/Android Lab/Experiment_1/.idea/libraries
/S3-LAB/Android Lab/Experiment_1/.idea/modules.xml
/S3-LAB/Android Lab/Experiment_1/.idea/workspace.xml
/S3-LAB/Android Lab/Experiment_1/.idea/navEditor.xml
/S3-LAB/Android Lab/Experiment_1/.idea/assetWizardSettings.xml
/S3-LAB/Android Lab/Experiment_1/.DS_Store
/S3-LAB/Android Lab/Experiment_1/build
/S3-LAB/Android Lab/Experiment_1/captures
/S3-LAB/Android Lab/Experiment_1/.externalNativeBuild
/S3-LAB/Android Lab/Experiment_1/.cxx
/S3-LAB/Android Lab/Experiment_1/local.properties
/S3-LAB/Android Lab/Experiment_2/*.iml
/S3-LAB/Android Lab/Experiment_2/.gradle
/S3-LAB/Android Lab/Experiment_2/local.properties
/S3-LAB/Android Lab/Experiment_2/.idea/caches
/S3-LAB/Android Lab/Experiment_2/.idea/libraries
/S3-LAB/Android Lab/Experiment_2/.idea/modules.xml
/S3-LAB/Android Lab/Experiment_2/.idea/workspace.xml
/S3-LAB/Android Lab/Experiment_2/.idea/navEditor.xml
/S3-LAB/Android Lab/Experiment_2/.idea/assetWizardSettings.xml
/S3-LAB/Android Lab/Experiment_2/.DS_Store
/S3-LAB/Android Lab/Experiment_2/build
/S3-LAB/Android Lab/Experiment_2/captures
/S3-LAB/Android Lab/Experiment_2/.externalNativeBuild
/S3-LAB/Android Lab/Experiment_2/.cxx
/S3-LAB/Android Lab/Experiment_2/local.properties
/S3-LAB/Android Lab/Experiment_3/*.iml
/S3-LAB/Android Lab/Experiment_3/.gradle
/S3-LAB/Android Lab/Experiment_3/local.properties
/S3-LAB/Android Lab/Experiment_3/.idea/caches
/S3-LAB/Android Lab/Experiment_3/.idea/libraries
/S3-LAB/Android Lab/Experiment_3/.idea/modules.xml
/S3-LAB/Android Lab/Experiment_3/.idea/workspace.xml
/S3-LAB/Android Lab/Experiment_3/.idea/navEditor.xml
/S3-LAB/Android Lab/Experiment_3/.idea/assetWizardSettings.xml
/S3-LAB/Android Lab/Experiment_3/.DS_Store
/S3-LAB/Android Lab/Experiment_3/build
/S3-LAB/Android Lab/Experiment_3/captures
/S3-LAB/Android Lab/Experiment_3/.externalNativeBuild
/S3-LAB/Android Lab/Experiment_3/.cxx
/S3-LAB/Android Lab/Experiment_3/local.properties
